<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="io.github.davoleo.barcodestock">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/bs_icon"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/bs_icon"
            android:supportsRtl="true"
            android:theme="@style/AppTheme" tools:ignore="GoogleAppIndexingWarning">
        <activity
                android:name=".ui.ActivityAddEditBarcode"
                android:label="@string/title_activity_add_barcode"
                android:parentActivityName=".ui.MainActivity"
                android:theme="@style/AppTheme.NoActionBar"
                android:screenOrientation="portrait">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="io.github.davoleo.barcodestock.ui.MainActivity"/>
        </activity>
        <activity
                android:name=".ui.MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>